*html text eol=lf
*css text eol=lf
*js text eol=lf
*.scss linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=false
*.py linguist-detectable=true